header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

header button {
    margin: 1rem;
}

.containerContatos {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.table {
    text-align: center;
    max-width: 900px;
    border: 1px solid black;
    border-radius: 4px;
}

.bi {
    cursor: pointer;
}

.formularioAdicionarContato{
    padding: 10px;
}

.formularioAdicionarContato input{
    margin: 10px;
}
